:root {
    --primary-color: #23283e;
    --secondary-color: #58a4b0;
    --background-color: #303755;
    --yellow-color: #dac24d;
    --white-color: #f7f9f9;
    --gradient-color: linear-gradient(90deg, var(--secondary-color) 1%, var(--yellow-color) 100%);
    --gradient-text-color: -webkit-linear-gradient(180deg, var(--secondary-color) 1%, var(--yellow-color) 100%);
}

body {
    display: block;
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

.bg-pattern {
    background: var(--primary-color) radial-gradient(var(--secondary-color) 10%, transparent 1%);
    background-size: 11px 11px;
}

.ng-margin {
    margin-top: -80px;
}

.nav-link {
    color: var(--white-color);
}

.nav-link:hover {
    color: var(--secondary-color);
}

.navbar-toggler-icon{
    background-color:var(--secondary-color);
    border-radius: 100%;
    background-image: url(../images/icon.png);
}

.name-hero {
    font-size: 50px;
    font-weight: 600;
}

.name-grad-span {
    background: var(--gradient-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sm-icon {
    border-color: var(--white-color);
    color: var(--white-color);
}

.img-hero {
    position: relative;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 3s;

}

.img-hero img {
    position: relative;
    width: 400px;
    height: auto;
    z-index: 10;
    left: 53px;
}

.rotate-text {
    position: absolute;
    top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
}

.rotate-text span {
    position: relative;
    width: 442px;
    height: 442px;
    background: var(--primary-color);
    border: 6px solid #eaeef0;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.rotate-text span::before {
    content: "";
    position: absolute;
    inset: 20px;
    background: var(--primary-color);
    border-radius: 50%;
    z-index: 1;
}

.rotate-text span i {
    position: absolute;
    inset: 0;
    background: var(--gradient-color-bg);
    filter: blur(5px);
    animation: animate 2s linear infinite;
}


.rotate-text .text {
    position: absolute;
    width: 490px;
    height: 490px;
    background: var(--gradient-color);
    border-radius: 50%;
    box-shadow: 0 1px 6px 5.94px rgba(0, 0, 0, 0.2);
    animation: rotateText 30s linear infinite;
}

.text b {
    position: absolute;
    transform-origin: 0 247px;
    display: block;
    top: 0;
    left: 50%;
    font-size: 1.2rem;
}

.slider-container {
    background: var(--gradient-color);
    height: 100px;
    position: relative;
    overflow: hidden;
    transform: rotate(1.2deg);
}

.slider-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* animation: slide 60s linear infinite;   */
}

.slider-content h1 {
    margin: 0;
    padding: 0 20px;
    line-height: 100px;
    color: var(--primary-color);
}

.card-bg {
    background-color: var(--background-color)
}

.we-logo {
    width: 200px;
    height: 200px;
    background-color: var(--white-color);
}

.we-logo1 {
    width: 200px;
    height: 200px;
    background-color: var(--background-color);
}

#rotatingImage {
    animation: rotateAnimation 60s linear infinite;
}

.card-tag{
    font-size: 0px;
}

.publ-img {
    background-size: cover;
}

.publ-cont {
    background-color: var(--background-color);
}

.switch {
    font-size: 11px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin-left: 50px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    --background: var(--secondary-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px var(--yellow-color);
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: var(--secondary-color);
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px var(--yellow-color);
}


/*===== @keyframes ===== */
@keyframes slide {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-22px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes enter-animation {
	0% {
		transform: translateY(100px);
    opacity: 0;
	}
	100% {
		transform: translateY(0);
    opacity: 1;
	}
}


/*==== BrakPoints ===== */

@media(max-width:1200px) {
    .img-hero img {
        width: 300px;
    }

    .rotate-text {
        top: 0%;
    }

    .rotate-text span {
        width: 342px;
        height: 342px;
    }

    .rotate-text .text {
        width: 390px;
        height: 390px;
    }

    .text b {
        transform-origin: 0 196px;
        font-size: 1rem;
    }
}

@media(max-width:990px) {
    .img-hero img {
        width: 200px;
    }

    .rotate-text {
        top: -6%;
    }

    .rotate-text span {
        width: 242px;
        height: 242px;
    }

    .rotate-text .text {
        width: 290px;
        height: 290px;
    }

    .text b {
        transform-origin: 0 145px;
        font-size: 0.8rem;
    }

    .text-hero{
        text-align: center;
        margin-top: 50px;
    }

    .we-logo{
        margin-top: -45px;
    }

    .ng-margin{
        margin-top: -40px;
    }

    .navbar-nav{
        text-align: center;
    }

    .switch{
        margin-left: 0px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .scroll-animation {
      animation: enter-animation 0.8s 1;
    }
  }